.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

.simple-drag {
  background: aliceblue;
  padding: 20px 40px;
}

.user-card {
  background-color: white;
  border: 1px solid black;
  margin: 12px 0;
  padding: 0 27px;
  width: 500px;
  cursor: default;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.move {
  cursor: pointer;
}

.btn-container {
  display: flex;
  gap: 20px;
}